/* Container Styling */
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Headings Styling */
h1, h2, h3, h4 {
    background-color: #f02c0a;   /* Green background color */
    color: #ffffff;               /* White font color */
    border: 1px solid #D6A800;   /* Border with gold color */
    padding: 10px;
    font-family: 'Roboto', sans-serif; /* Google Font */
}

/* Anchor Tag Styling */
a {
    color: #000000;               /* Blue color */
    text-decoration: none;        /* Removes underline */
}

/* Anchor Hover State */
a:hover {
    color: #ff9800;               /* Orange color on hover */
}

/* Anchor Visited State */
a:visited {
    color: #800080;               /* Purple color for visited links */
}